@{
    ViewBag.Title = "About Us";
}

<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">@ViewBag.Title</h1>
                        <p>@ViewBag.Message</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="about-company" class="padding-top wow fadeInUp" data-wow-duration="400ms" data-wow-delay="400ms">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <img src="~/Images/cnbm.jpg" class="margin-bottom" alt="" style="width:100%">
                <h1 class="margin-bottom text-center">Company Profile</h1>
                <p>CNBM International Trading Limited (hereinafter referred to as CNBM Trading), as one internationalized procurement service provider, regards agricultural machineries procurement, agricultural materials procurement, construction machineries procurement, construction materials procurement, FMCG procurement is defined as its pillar and defines international trade and the tendering &bidding as its basis of related business extension.</p>
                <p>Our goal is to transform CNBM Trading into the global leading brand in building materials industry within 3 to 5 years through innovation and reform, by strengthening the overall management of supply chain, developing and cultivating both domestic and overseas market, improving the procedure and information system, enhancing the ability to organize resources and to provide value-added services under a professional team and a learning organization.</p>
                <p>CNBM Trading is highly recognized by its business partners and clients all over the world and has obtained rapid development under the spirit of win-win. We will carry on the mutual beneficial, innovative and revolutionary trading structure as we did before, create value for our employees, share holders and clients and benefit the whole society in our future development.</p>
            </div>
        </div>
    </div>
</section>