@{
    ViewBag.Title = "Welcome";
}

<section class="arriv">
    <div class="container">
        <div class="arriv-top">
            <div class="col-md-6 arriv-left wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                <img src="~/Images/1.jpg" class="img-responsive" alt="">
                <div class="arriv-info">
                    <h3>SKINCARE</h3>
                    <p>HIGH-TECH SKINCARE ADVICE STARTS HERE</p>
                    <div class="crt-btn">
                        <a href="details.html">TAKE A LOOK</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 arriv-right wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                <img src="~/Images/2.jpg" class="img-responsive" alt="">
                <div class="arriv-info">
                    <h3>ORGANIC PRODUCTS</h3>
                    <p>NUTRIENT-RICH ORGANIC FOODS FROM HEARTY NEW ZEALAND</p>
                    <div class="crt-btn">
                        <a href="details.html">SHOP NOW</a>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="arriv-bottm">
            <div class="col-md-8 arriv-left1 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                <img src="~/Images/3.jpg" class="img-responsive" alt="">
                <div class="arriv-info1">
                    <h3>BONE HEALTH</h3>
                    <p>THE TRUTH OF TREATING OSTEOPOROSIS</p>
                    <div class="crt-btn">
                        <a href="details.html">SHOP NOW</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 arriv-right1 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                <img src="~/Images/4.jpg" class="img-responsive" alt="">
                <div class="arriv-info2">
                    <a href="details.html"><h3>FISH OILS<i class="ars"></i></h3></a>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="arriv-las">
            <div class="col-md-4 arriv-left2 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                <img src="~/Images/5.jpg" class="img-responsive" alt="">
                <div class="arriv-info2">
                    <a href="details.html"><h3>ORAL CARE<i class="ars"></i></h3></a>
                </div>
            </div>
            <div class="col-md-4 arriv-middle wow fadeInDown" data-wow-duration="500ms" data-wow-delay="300ms">
                <img src="~/Images/6.jpg" class="img-responsive" alt="">
                <div class="arriv-info3">
                    <h3>ORGANIC FOOD</h3>
                    <div class="crt-btn">
                        <a href="details.html">SHOP NOW</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 arriv-right2 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                <img src="~/Images/7.jpg" class="img-responsive" alt="">
                <div class="arriv-info2">
                    <a href="details.html"><h3>BEAUTY<i class="ars"></i></h3></a>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</section>
<section class="special">
    <div class="container">
        <h3>Special Offers</h3>
        <div class="specia-top">
            <ul class="grid_2">
                <li>
                    <a href="details.html"><img src="~/Images/products/1.jpg" class="img-responsive wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms" alt=""></a>
                    <div class="special-info grid_1 wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <h5>Comvita Rewarewa Honey</h5>
                        <div class="item_add"><span class="item_price"><h6>ONLY $17.70</h6></span></div>
                        <div class="item_add"><span class="item_price"><a href="~/products/details/1">take a look</a></span></div>
                    </div>
                </li>
                <li>
                    <a href="details.html"><img src="~/Images/products/2.jpg" class="img-responsive wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms" alt=""></a>
                    <div class="special-info grid_1 wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <h5>Good Health Coconut Oil</h5>
                        <div class="item_add"><span class="item_price"><h6>ONLY $34.90</h6></span></div>
                        <div class="item_add"><span class="item_price"><a href="~/products/details/2">take a look</a></span></div>
                    </div>
                </li>
                <li>
                    <a href="details.html"><img src="~/Images/products/3.jpg" class="img-responsive wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms" alt=""></a>
                    <div class="special-info grid_1 wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <h5>Braggs Liquid Amino's</h5>
                        <div class="item_add"><span class="item_price"><h6>ONLY $19.50</h6></span></div>
                        <div class="item_add"><span class="item_price"><a href="~/products/details/3">take a look</a></span></div>
                    </div>
                </li>
                <li>
                    <a href="details.html"><img src="~/Images/products/4.jpg" class="img-responsive wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms" alt=""></a>
                    <div class="special-info grid_1 wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <h5>Bragg Apple Cider Vinegar</h5>
                        <div class="item_add"><span class="item_price"><h6>ONLY $15.60</h6></span></div>
                        <div class="item_add"><span class="item_price"><a href="~/products/details/4">take a look</a></span></div>
                    </div>
                </li>
                <div class="clearfix"> </div>
            </ul>
        </div>
    </div>
</section>